/* Start coding here */
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.adjust {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: darkcyan;
  height: 10%;
}

main {
  height: 80%;
  display: flex;
  background-color: orange;
}

.border-box {
  border: 1px solid white;
}

.box-side {
  flex: 1;
}

.box-center {
  flex: 2;
}

footer {
  background-color: khaki;
  height: 10%;
}
